<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/weather.css">
    <link rel="schortcut icon" href="/Images/tab logo.png" type="image/x-icon">


    <title>AirQ | Air Quality and Weather</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>



</head>

<header>
    <div class="header-container">
        <a href="/"><img src="/Images/AirQ logo.png" alt="AirQ logo" height="50px"></a>
        <ul class="navigation-bar">
            <li class="home"><a href="/">Home</a></li>
            <li class="about-me"><a href="#">About Me</a></li>
            <li class="contact"><a href="#">Contact</a></li>
        </ul>
    </div>
    
</header>

<body>
<main>    
